<%= content_for :title, 'Accounts' %>
<%= content_for :active_page, 'accounts' %>
<main>
  <h2 class="text-center my-5">Accounts</h2>
  <% if @users.count > 0 %>
    <table class="container">
      <thead class="text-center">
        <tr>
          <th>Employee</th>
          <th>Email</th>
          <th>Account Type</th>
          <th>Account Status</th>
          <th>Account Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @users.each do |user| %>
          <tr>
            <td><%= capitalize_string(user.full_name) %></td>
            <td><%= user.email %></td>
            <% if user.admin? %>
              <td>Admin</td>
            <% else %>
              <td>Employee</td>
            <% end %>
            <% if user.suspended == true %>
              <td>Suspended</td>
            <% else %>
              <td>Active</td>
            <% end %>
            <% if user.suspended == false %>
              <td>
                <%= button_to deactivation_path(user),
                    method: :post,
                    data: {
                      :confirm => 'Are you sure you want to deactivate this account?',
                      :remote => false
                    },
                    :class => "btn btn-outline-danger" do %>
                  <i class="fas fa-lock"></i>
                  Lock Account
                <% end %>
              </td>
            <% else %>
              <td>
                <%= button_to activation_path(user),
                  method: :delete,
                  data: {
                    :confirm => 'Are you sure you want to activate this account?',
                    :remote => false
                  },
                  :class => "btn btn-outline-success" do %>
                <i class="fas fa-lock-open"></i>
                Unlock Account
              <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3 class="text-center">Sorry, there are no accounts to show!</h3>
  <% end %>
  <%= paginate @users, left: 3, right: 3 %>
</main>
