<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <%= link_to water_meter_readings_path, class: 'navbar-brand', id: 'nav-logo' do %>
      <%= image_tag 'cemex-logo.png' %>
    <% end %>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown <%= 'active' if active_page == 'water meter readings' %>" >
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Water Meter Readings
        </a>
        <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdown">
          <%= link_to 'All Readings', water_meter_readings_path, class: 'dropdown-item' %>
          <%= link_to 'New Reading', new_water_meter_reading_path, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item">
        <%= link_to 'Accounts', accounts_path, class: "nav-link #{'active' if active_page == 'accounts'}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Invitations', invitations_path, class: "nav-link #{'active' if active_page == 'invitations'}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Account', edit_user_registration_path, class: "nav-link #{'active' if active_page == 'my account'}" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>
