<main>
  <h2 class="text-center my-5">Active Invitations</h2>
  <% if @invitations.count > 0 %>
    <table class="container">
      <thead class="text-center">
        <tr>
          <th>Email</th>
          <th>Admin</th>
          <th>Created By</th>
          <th>Created At</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @invitations.each do |invite| %>
          <tr>
            <td><%= invite.email %></td>
            <td><%= invite.admin %></td>
            <td><%= capitalize_string(invite.user.full_name) %></td>
            <td>
              <%= format_date(invite.created_at) %>
              <%= format_time(invite.created_at) %>
            </td>
            <td>
              <%= button_to invitation_path(invite), method: :delete,
                    data: { :confirm => 'Are you sure you want to delete this invitation? This action can\'t be undone.',
                    :remote => false }, :class => "btn btn-outline-danger" do %>
                      <i class="far fa-trash-alt"></i>
                      Delete
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3 class="text-center">Sorry, there are no invitations to show!</h3>
  <% end %>
  <%= paginate @invitations, left: 3, right: 3 %>

  <%= form_for @invitation, remote: false, html: { class: 'container' } do |f| %>
    <h3 class="mt-5 mb-3">Send An Invitation</h3>
    <% if @invitation.errors.any? %>
      <% @invitation.errors.full_messages.each do |m| %>
        <% if m != "Email can't be blank" %>
          <p class="text-danger mb-0"><%= m %></p>
        <% end %>
      <% end %>
    <% end %>
    <dl class="d-inline-block mr-1">
      <% if @invitation.errors[:email].present? %>
        <dt class="text-danger">
          <%= f.label :email, "Email #{@invitation.errors[:email].first}" %>
        </dt>
      <% else %>
        <dt><%= f.label :email %></dt>
      <% end %>
      <dd><%= f.email_field :email %></dd>
    </dl>
    <dl class="d-inline-block mr-1">
      <dt><%= f.label :admin, 'Admin?' %></dt>
      <dd><%= select_tag 'invitation[admin]', options_for_select([['False', false], ['True', true]]) %></dd>
    </dl>
    <%= f.submit 'Send Invite', class: 'btn btn-outline-primary', id: 'invite' %>
  <% end %>
</main>
