<%= content_for :title, 'Send Password Reset' %>

<main>
  <%= link_to root_path, class: "d-inline-block", id: 'logo' do %>
    <h1>
      <%= image_tag 'cemex-logo.png' %>
    </h1>
  <% end %>
  <section class="mt-5 border rounded shadow mx-auto p-2 centered-form">
    <h2 class="text-center mb-3">Forgot your password?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render partial: 'shared/custom_errors',
          :locals => { :obj => resource, msg: 'password reset instructions from being sent' } %>
      <dl>
        <dt><%= f.label :email %></dt>
        <dd class=mb-2>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100' %>
        </dd>
      </dl>
      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: 'btn-outline-primary w-100 mb-2 rounded' %>
      </div>
    <% end %>
    <%= render "users/shared/links" %>
  </section>
</main>
