<main>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
  <h2 class="text-center my-5">Water Meter Readings</h2>
  <% if @readings.count > 0 %>
    <table class="container">
      <thead class="text-center">
        <tr>
          <th>Quick View</th>
          <th>Date</th>
          <th>Time</th>
          <th>Created By</th>
          <th>Reading</th>
          <th>Image</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @readings.each do |reading| %>
          <tr>
            <td>
              <%= link_to water_meter_reading_path(reading) do %>
                <i class="fa fa-search" aria-hidden="true"></i>
              <% end %>
            </td>
            <td><%= format_date(reading.created_at) %></td>
            <td><%= format_time(reading.created_at) %></td>
            <td><%= capitalize_string(reading.user.full_name) %></td>
            <td><%= reading.reading %></td>
            <td>
              <%= link_to water_meter_reading_path(reading) do %>
                <%= image_tag reading.image.variant(resize_to_limit: [nil, 90]) %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3 class="text-center">Sorry, there are no readings to show!</h3>
  <% end %>
  <%= paginate @readings, left: 3, right: 3 %>
</main>
