<!DOCTYPE html>
<html>
  <head>
    <title>Cemex | <%= yield :title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'whitespace_reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :javascripts %>
  </head>

  <body>
    <% if current_user && current_user.admin? %>
      <%= render partial: 'shared/admin_nav', locals: { active_page: "#{yield :active_page}" } %>
    <% end %>

    <% if current_user && !current_user.admin? %>
      <%= render partial: 'shared/employee_nav', locals: { active_page: "#{yield :active_page}" } %>
    <% end %>

    <%= render partial: 'shared/flash_messages' %>

    <%= yield %>
  </body>
</html>
