<!DOCTYPE html>
<html>
  <head>
    <title>CemexWaterReading</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'whitespace_reset', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render partial: 'shared/admin_nav' %>
    <% end %>
    <%= render partial: 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>
