<%= content_for :title, 'My Account' %>
<%= content_for :active_page, 'my account' %>

<main>
  <section class="mt-5 border rounded shadow mx-auto p-2 centered-form">
    <h2 class="text-center mb-3">Edit Your Account</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render partial: 'shared/custom_errors',
          :locals => { :obj => resource, msg: 'account from being updated' } %>
    <dl>
      <dt><%= f.label :email %></dt>
      <dd class="mb-2">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100' %>
      </dd>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <dd class="mb-2">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </dd>
      <% end %>
      <dt><%= f.label :full_name %></dt>
      <dd class="mb-2">
        <%= f.text_field :full_name, class: 'w-100' %>
      </dd>
      <dt>
        <%= f.label :password %>
        <i class="d-inline-block w-100">
          (leave blank if you don't want to change it)
        </i>
      </dt>
      <dd class="mb-2">
        <%= f.password_field :password, autocomplete: "new-password", class: 'w-100' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </dd>
      <dt><%= f.label :password_confirmation %></dt>
      <dd class="mb-2">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-100' %>
      </dd>
      <dt>
        <%= f.label :current_password %>
        <i class="d-inline-block w-100">(we need your current password to confirm your changes)</i>
      </dt>
      <dd class="mb-2">
        <%= f.password_field :current_password, autocomplete: "current-password", class: 'w-100' %>
      </dd>
    </dl>

    <div class="actions">
      <%= f.submit "Update", class: 'btn-outline-primary w-100 mb-2 rounded' %>
    </div>
    <% end %>
    <%= button_to "Cancel my account", deactivate_own_path, data: { confirm: "Are you sure you want to cancel your account?" }, class: 'btn-outline-danger w-100 mb-2 mt-2 rounded' %>

    <% if current_user && current_user.admin? %>
      <%= link_to "Cancel", water_meter_readings_path %>
    <% else %>
      <%= link_to "Cancel", new_water_meter_reading_path %>
    <% end %>
  </section>
</main>
